/* General */
body {
    background-color: #000001;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar styling for Webkit browsers */
body::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: #000001; /* Background of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background-color: #BBFB3F; /* Scrollbar thumb color */
    border-radius: 10px; /* Make the thumb rounded */
}

/* Optional: Add hover effect */
body::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}
.white-temp{
    color: #fffffe;
}
.green-temp{
    color: #BBFB3F;
}
.black-temp{
    color: #000001;
}
.white-temp-bg{
    background-color: #fffffe;
}
.green-temp-bg{
    background-color: #BBFB3F;
}
.black-temp-bg{
    background-color: #000001;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.full-size{
    width: 100%;
}
/* navbar */
.nav-section{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}
.navbar{
    gap: 38px;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.5s;
}
.nav-link-em{
    text-decoration: none;
    font-size: 16px;
}
.sep-bar{
    width: 1px;
    height: 70px;
}
.nav-link:hover{
    color: #BBFB3F;
    transition-duration: 0.5s;
}
@media (max-width:8000px) {
    .navbar{
        gap: 100px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 100px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 100px;
    }
    .sep-bar{
        width: 10px;
        height: 70px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
    }
}
@media (max-width:4000px) {
    .navbar{
        gap: 100px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 50px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 50px;
    }
    .sep-bar{
        width: 5px;
        height: 70px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
    }
}
@media (max-width:2500px) {
    .navbar{
        gap: 50px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 25px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 25px;
    }
    .sep-bar{
        width: 3px;
        height: 70px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
    }
}
@media (max-width:1200px) {
    .navbar{
        gap: 25px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 18px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 18px;
    }
    .sep-bar{
        width: 2px;
        height: 70px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
    }
}
@media (max-width:820px) {
    .navbar{
        gap: 25px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 12px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 12px;
    }
    .sep-bar{
        width: 2px;
        height: 50px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
    }
}
@media (max-width:675px) {
    .navbar{
        gap: 25px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 8px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 8px;
    }
    .sep-bar{
        width: 2px;
        height: 25px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
    }
}
@media (max-width:675px) {
    .navbar{
        gap: 15px;
    }
    .nav-link{
        text-decoration: none;
        font-size: 4px;
        transition-duration: 0.5s;
    }
    .nav-link-em{
        text-decoration: none;
        font-size: 4px;
    }
    .sep-bar{
        width: 1px;
        height: 20px;
    }
    .nav-section{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
    }
}
/* home */
.home-section{
    background-image: url(../assets/head-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    height: 800px;
}
.home{
    width: 30%;
}
.header{
    height: 600px;
    justify-content: center;
    margin-left: 100px;
}
.prof, .port{
    margin: 0;
    font-size: 98px;
}
@media (max-width:8000px) {
    .home-section{
        background-image: url(../assets/head-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 200px;
        height: 6000px;
    }
    .home{
        width: 30%;
    }
    .header{
        height: 5000px;
        justify-content: center;
        margin-left: 500px;
    }
    .prof, .port{
        margin: 0;
        font-size: 700px;
    }
}
@media (max-width:7500px) {
    .home-section{
        height: 5000px;
    }
    .header{
        height: 4000px;
    }
}
 @media (max-width:6300px) {
    .home-section{
        height: 4000px;
    }
    .header{
        height: 3000px;
    }
    .prof, .port{
        font-size: 600px;
    }
}
@media (max-width:5030px) {
    .home-section{
        height: 3000px;
    }
    .header{
        height: 2500px;
    }
    .prof, .port{
        font-size: 500px;
    }
}
@media (max-width:4500px) {
    .home-section{
        height: 3000px;
    }
    .header{
        height: 2000px;
    }
    .prof, .port{
        font-size: 300px;
    }
}
@media (max-width:3800px) {
    .home-section{
        height: 2500px;
    }
    .header{
        height: 2000px;
    }
    .prof, .port{
        font-size: 300px;
    }
}
@media (max-width:3150px) {
    .home-section{
        height: 2000px;
    }
    .header{
        height: 1500px;
    }
    .prof, .port{
        font-size: 250px;
    }
}
@media (max-width:2500px) {
    .home-section{
        height: 1500px;
        margin-top: 100px;
    }
    .header{
        height: 1000px;
        margin-left: 300px;
    }
    .prof, .port{
        font-size: 150px;
    }
}
@media (max-width:1880px) {
    .home-section{
        height: 1300px;
    }
    .header{
        height: 1000px;
        margin-left: 300px;
    }
    .prof, .port{
        font-size: 150px;
    }
}
@media (max-width:1650px) {
    .home-section{
        height: 1000px;
    }
    .header{
        height: 700px;
        margin-left: 200px;
    }
    .prof, .port{
        font-size: 100px;
    }
}
@media (max-width:1300px) {
    .home-section{
        height: 800px;
    }
    .header{
        height: 700px;
        margin-left: 200px;
    }
    .prof, .port{
        font-size: 100px;
    }
}
@media (max-width:1050px) {
    .home-section{
        height: 700px;
    }
    .header{
        height: 600px;
        margin-left: 100px;
    }
    .prof, .port{
        font-size: 70px;
    }
}
@media (max-width:900px) {
    .home-section{
        height: 600px;
    }
    .header{
        height: 600px;
        margin-left: 100px;
    }
    .prof, .port{
        font-size: 70px;
    }
}
@media (max-width:780px) {
    .home-section{
        height: 500px;
    }
    .header{
        height: 400px;
        margin-left: 100px;
    }
    .prof, .port{
        font-size: 50px;
    }
}
@media (max-width:675px) {
    .home-section{
        margin-top: 50px;
    }
}
@media (max-width:650px) {
    .home-section{
        height: 400px;
    }
    .header{
        height: 300px;
        margin-left: 50px;
    }
    .prof, .port{
        font-size: 40px;
    }
}
@media (max-width:500px) {
    .home-section{
        height: 300px;
        margin-top: 50px;
    }
    .header{
        height: 250px;
        margin-left: 50px;
    }
    .prof, .port{
        font-size: 40px;
    }
}
@media (max-width:380px) {
    .home-section{
        height: 250px;
        margin-top: 50px;
    }
    .header{
        height: 200px;
        margin-left: 50px;
    }
    .prof, .port{
        font-size: 25px;
    }
}
@media (max-width:315px) {
    .home-section{
        height: 200px;
        margin-top: 50px;
    }
    .header{
        height: 150px;
        margin-left: 25px;
    }
    .prof, .port{
        font-size: 20px;
    }
}
@media (max-width:255px) {
    .home-section{
        height: 170px;
        margin-top: 50px;
    }
    .header{
        height: 150px;
        margin-left: 25px;
    }
    .prof, .port{
        font-size: 20px;
    }
}
/* About */
.about-section{
    background-image: url("../assets/about-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}
.about{
    margin-top: 150px;
    width: 75%;
    height: 600px;
}
.about-1{
    width: 50%;
    height: 600px;
}
.about-2{
    width: 50%;
    height: 600px;
}
.a1-hero-1{
    width: 150px;
    transition-duration: 0.3s;
}
.a1-hero-1:hover{
    transform: scale(1.3);
    transition-duration: 0.3s;
}
.a1-hero-1:hover ~ .a1-hero-2{
    opacity: 0;
}
.a1-hero-2{
    width: 150px;
    transition-duration: 0.3s;
}
.a1-hero-2:hover{
    transform: scale(1.3);
transition-duration: 0.3s;
}
.a1-title-text{
    color: #fffffe;
    opacity: 50%;
    font-size: 98px;
    margin: 0;
}
.a1-hero{
    gap: 50px;
}
.a2-desc p{
    color: #fffffe;
    font-size: 18px;
}
.a2-desc p span{
    color: #BBFB3F;
}
.a2-btn button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #BBFB3F;
    color: #000001;
    font-weight: bold;
    border-radius: 25px;
    font-size: 16px;
}
.a2-btn button:hover{
    background-color: #fffffe;
}
@media (max-width:8000px) {
    .about-section{
        height: 5500px;
    }
    .about{
        margin-top: 1000px;
    }
    .about, .about-1, .about-2{
        height: 3000px;
    }
    .a1-title-text{
        font-size: 600px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 700px;
    }
    .a2-desc p{
        font-size: 90px;
    }
    .a2-btn button{
        width: 1000px;
        height: 200px;
        font-size: 100px;
        border-radius: 100px;
    }
}
@media (max-width:6700px) {
    .about-section{
        height: 4800px;
    }
    .about{
        margin-top: 1000px;
    }
    .about, .about-1, .about-2{
        height: 3000px;
    }
    .a1-title-text{
        font-size: 600px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 700px;
    }
    .a2-desc p{
        font-size: 90px;
    }
    .a2-btn button{
        width: 1000px;
        height: 200px;
        font-size: 100px;
        border-radius: 100px;
    }
}
@media (max-width:5800px) {
    .about-section{
        height: 4000px;
    }
    .about{
        margin-top: 1000px;
    }
    .about, .about-1, .about-2{
        height: 3000px;
    }
    .a1-title-text{
        font-size: 500px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 600px;
    }
    .a2-desc p{
        font-size: 80px;
    }
    .a2-btn button{
        width: 1000px;
        height: 200px;
        font-size: 100px;
        border-radius: 100px;
    }
}
@media (max-width:5000px) {
    .about-section{
        height: 3500px;
    }
    .about{
        margin-top: 1000px;
    }
    .about, .about-1, .about-2{
        height: 2500px;
    }
    .a1-title-text{
        font-size: 400px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 500px;
    }
    .a2-desc p{
        font-size: 70px;
    }
    .a2-btn button{
        width: 800px;
        height: 150px;
        font-size: 80px;
        border-radius: 80px;
    }
}
@media (max-width:4200px) {
    .about-section{
        height: 3000px;
    }
    .about{
        margin-top: 500px;
    }
    .about, .about-1, .about-2{
        height: 2000px;
    }
    .a1-title-text{
        font-size: 300px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 400px;
    }
    .a2-desc p{
        font-size: 60px;
    }
    .a2-btn button{
        width: 800px;
        height: 150px;
        font-size: 80px;
        border-radius: 80px;
    }
}
@media (max-width:3600px) {
    .about-section{
        height: 2500px;
    }
    .about{
        margin-top: 400px;
    }
    .about, .about-1, .about-2{
        height: 1000px;
    }
    .a1-title-text{
        font-size: 200px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 300px;
    }
    .a2-desc p{
        font-size: 50px;
    }
    .a2-btn button{
        width: 700px;
        height: 100px;
        font-size: 60px;
        border-radius: 60px;
    }
}
@media (max-width:3000px) {
    .about-section{
        height: 2000px;
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 600px;
    }
    .a1-title-text{
        font-size: 200px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 300px;
    }
    .a2-desc p{
        font-size: 40px;
    }
    .a2-btn button{
        width: 700px;
        height: 100px;
        font-size: 60px;
        border-radius: 60px;
    }
}
@media (max-width:2400px) {
    .about-section{
        height: 1600px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 600px;
    }
    .a1-title-text{
        font-size: 150px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 250px;
    }
    .a2-desc p{
        font-size: 30px;
    }
    .a2-btn button{
        width: 500px;
        height: 80px;
        font-size: 40px;
        border-radius: 40px;
    }
}
@media (max-width:1950px) {
    .about-section{
        height: 1300px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 500px;
    }
    .a1-title-text{
        font-size: 130px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 230px;
    }
    .a2-desc p{
        font-size: 25px;
    }
    .a2-btn button{
        width: 500px;
        height: 80px;
        font-size: 40px;
        border-radius: 40px;
    }
}
@media (max-width:1590px) {
    .about-section{
        height: 1000px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 400px;
    }
    .a1-title-text{
        font-size: 100px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 200px;
    }
    .a2-desc p{
        font-size: 20px;
    }
    .a2-btn button{
        width: 300px;
        height: 50px;
        font-size: 25px;
        border-radius: 25px;
    }
}
@media (max-width:1300px) {
    .about-section{
        height: 900px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 300px;
    }
    .a1-title-text{
        font-size: 80px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 140px;
    }
    .a2-desc p{
        font-size: 15px;
    }
    .a2-btn button{
        width: 250px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
    }
}
@media (max-width:1100px) {
    .about-section{
        height: 750px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 250px;
    }
    .a1-title-text{
        font-size: 70px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 120px;
    }
    .a2-desc p{
        font-size: 12px;
    }
    .a2-btn button{
        width: 250px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
    }
}
@media (max-width:900px) {
    .about-section{
        height: 600px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 250px;
    }
    .a1-title-text{
        font-size: 65px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 100px;
    }
    .a2-desc p{
        font-size: 10px;
    }
    .a2-btn button{
        width: 250px;
        height: 40px;
        font-size: 20px;
        border-radius: 25px;
    }
}
@media (max-width:730px) {
    .about-section{
        height: 500px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 200px;
    }
    .a1-title-text{
        font-size: 60px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 80px;
    }
    .a2-desc p{
        font-size: 8px;
    }
    .a2-btn button{
        width: 200px;
        height: 30px;
        font-size: 20px;
        border-radius: 25px;
    }
}
@media (max-width:600px) {
    .about-section{
        height: 400px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 150px;
    }
    .a1-title-text{
        font-size: 40px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 60px;
    }
    .a2-desc p{
        font-size: 7px;
    }
    .a2-btn button{
        width: 150px;
        height: 20px;
        font-size: 15px;
        border-radius: 25px;
    }
}
@media (max-width:485px) {
    .about-section{
        height: 350px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 150px;
    }
    .a1-title-text{
        font-size: 40px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 60px;
    }
    .a2-desc p{
        font-size: 7px;
    }
    .a2-btn button{
        width: 150px;
        height: 20px;
        font-size: 15px;
        border-radius: 25px;
    }
}
@media (max-width:425px) {
    .about-section{
        height: 300px
    }
    .about{
        margin-top: 100px;
    }
    .about, .about-1, .about-2{
        height: 100px;
    }
    .a1-title-text{
        font-size: 30px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 50px;
    }
    .a2-desc p{
        font-size: 6px;
    }
    .a2-btn button{
        width: 100px;
        height: 15px;
        font-size: 10px;
        border-radius: 25px;
    }
}
@media (max-width:360px) {
    .about-section{
        height: 250px
    }
    .about{
        margin-top: 50px;
    }
    .about, .about-1, .about-2{
        height: 50px;
    }
    .a1-title-text{
        font-size: 20px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 30px;
    }
    .a2-desc p{
        font-size: 4px;
    }
    .a2-btn button{
        width: 80px;
        height: 10px;
        font-size: 8px;
        border-radius: 25px;
    }
}
@media (max-width:300px) {
    .about-section{
        height: 200px
    }
    .about{
        margin-top: 20px;
    }
    .about, .about-1, .about-2{
        height: 30px;
    }
    .a1-title-text{
        font-size: 15px;
    }
    .a1-hero-1, .a1-hero-2{
        width: 20px;
    }
    .a2-desc p{
        font-size: 3px;
    }
    .a2-btn button{
        width: 80px;
        height: 10px;
        font-size: 8px;
        border-radius: 25px;
    }
}
/* skills */
.skills-title{
    width: 100px;
    height: 1500px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.st-text{
    rotate: 270deg;
    opacity: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-bar{
    width: 5px;
    height: 100px;
    background-color: #BBFB3F;
}
.skills-contents{
    width: 80%;
    height: 800px;
}
.scb-1-element, .scb-2-element, .scb-3-element{
    opacity: 50%;
}
.scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
    font-size: 32px;
}
.sc-box1, .sc-box2, .sc-box3{
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
.sc-box1{
    margin-left: 100px;
}
.sc-box2{
    margin-left: 500px;
}
.sc-box3{
    margin-left: 200px;
    text-align: center;
}
@media (max-width:8000px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 150px;
    }
    .skills-title{
        width: 1000px;
        height: 7000px;
        margin-left: 50px;
    }
    .st-text{
        height: 2000px;
        font-size: 500px;
    }
    .green-bar{
        width: 10px;
        height: 1000px;
    }
    .sc-box1{
        margin-left: 500px;
    }
    .sc-box2{
        margin-left: 2500px;
    }
    .sc-box3{
        margin-left: 600px;
        text-align: center;
    }
}
@media (max-width:6000px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 100px;
    }
    .skills-title{
        width: 1000px;
        height: 4000px;
        margin-left: 50px;
    }
    .st-text{
        height: 2000px;
        font-size: 350px;
    }
    .green-bar{
        width: 10px;
        height: 1000px;
    }
    .sc-box1{
        margin-left: 500px;
    }
    .sc-box2{
        margin-left: 2000px;
    }
    .sc-box3{
        margin-left: 600px;
        text-align: center;
    }
}
@media (max-width:4300px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 80px;
    }
    .skills-title{
        width: 1000px;
        height: 4000px;
        margin-left: 50px;
    }
    .st-text{
        height: 1000px;
        font-size: 250px;
    }
    .green-bar{
        width: 10px;
        height: 500px;
    }
    .sc-box1{
        margin-left: 200px;
    }
    .sc-box2{
        margin-left: 1000px;
    }
    .sc-box3{
        margin-left: 300px;
        text-align: center;
    }
}
@media (max-width:3000px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 60px;
    }
    .skills-title{
        width: 500px;
        height: 2500px;
        margin-left: 50px;
    }
    .st-text{
        height: 1000px;
        font-size: 150px;
    }
    .green-bar{
        width: 10px;
        height: 300px;
    }
    .sc-box1{
        margin-left: 200px;
    }
    .sc-box2{
        margin-left: 1000px;
    }
    .sc-box3{
        margin-left: 300px;
        text-align: center;
    }
}
@media (max-width:2400px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 40px;
    }
    .skills-title{
        width: 500px;
        height: 1700px;
        margin-left: 50px;
    }
    .st-text{
        height: 500px;
        font-size: 100px;
    }
    .green-bar{
        width: 10px;
        height: 300px;
    }
    .sc-box1{
        margin-left: 200px;
    }
    .sc-box2{
        margin-left: 700px;
    }
    .sc-box3{
        margin-left: 300px;
        text-align: center;
    }
}
@media (max-width:1700px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 20px;
    }
    .skills-title{
        width: 200px;
        height: 1000px;
        margin-left: 30px;
    }
    .st-text{
        height: 250px;
        font-size: 30px;
    }
    .green-bar{
        width: 10px;
        height: 200px;
    }
    .sc-box1{
        margin-left: 50px;
    }
    .sc-box2{
        margin-left: 300px;
    }
    .sc-box3{
        margin-left: 100px;
        text-align: center;
    }
}
@media (max-width:700px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 15px;
    }
    .skills-title{
        width: 100px;
        height: 700px;
        margin-left: 30px;
    }
    .st-text{
        height: 200px;
        font-size: 30px;
    }
    .green-bar{
        width: 5px;
        height: 150px;
    }
    .sc-box1{
        margin-left: 50px;
    }
    .sc-box2{
        margin-left: 200px;
    }
    .sc-box3{
        margin-left: 100px;
        text-align: center;
    }
}
@media (max-width:525px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 10px;
    }
    .skills-title{
        width: 50px;
        height: 500px;
        margin-left: 20px;
    }
    .st-text{
        height: 100px;
        font-size: 20px;
    }
    .green-bar{
        width: 3px;
        height: 100px;
    }
    .sc-box1{
        margin-left: 50px;
    }
    .sc-box2{
        margin-left: 150px;
    }
    .sc-box3{
        margin-left: 100px;
        text-align: center;
    }
    .skills-contents{
        height: 500px;
    }
}
@media (max-width:350px) {
    .scb-1-element, .scb-2-element, .scb-3-element, .scb-1-title, .scb-2-title, .scb-3-title{
        font-size: 7px;
    }
    .skills-title{
        width: 25px;
        height: 325px;
        margin-left: 10px;
    }
    .st-text{
        height: 60px;
        font-size: 15px;
    }
    .green-bar{
        width: 1px;
        height: 50px;
    }
    .sc-box1{
        margin-left: 25px;
    }
    .sc-box2{
        margin-left: 100px;
    }
    .sc-box3{
        margin-left: 50px;
        text-align: center;
    }
    .skills-contents{
        height: 100px;
    }
}
